extends layout
block content
  form(class='form')
    div(class="form-group py-2")
      label(for="deckName" ) Edit Deck Name
      input(type="text" name="deckName" id="deckName" value=`${deckName}` class='form-control')

    button(class="btn btn-light" hx-put=`/deck/${deckID}` hx-include='#deckName') Submit
    a(class="btn btn-light" href="/") Cancel