extends layout

block content

  form(action='/createDeck' method='POST' class='form-registration')
    div(class='row my-3')
        div(class='col-md-2 align-bottom')
          label(for="taskName" class='fs-5') New Deck
        div(class='col-md-8')
          input(class="form-control form-control-sm" type="text" name='deckName', placeholder="Enter new deck title here" )
        div(class='col-md-2 text-end')
          button(class='btn btn-success btn-sm' type='submit') Add Deck


  h5(class='my-2') Flash Card Decks:

  each deck in flashCardDecks
    div(class='row mb-2')
      div(class='card')
        div(class='card-body')
          div(class='row')
            div(class='col-8')
              h3(class='card-title') #{deck.name}
            div(class='col-4')
              a(class='btn btn-primary' href=`/deck/${deck._id}?index=0`) see cards

