doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css")

  body(class='p-2')

    main(class='container')
        div(class='d-flex align-items-center p-3 my-1 bg-azure-light-gray rounded shadow-sm')
            img(class='me-3', src='/images/Azure-A-48px-product.svg', alt='', width='48', height='48')
            div(class='1h-1')
                a(class='h3 mb-0 text-azure-blue lh-1' href='/') Flash Card Maker
                small(class='mx- 3text-black') create/edit/delete flash cards!


        block content
    script(src='/js/bootstrap.min.js')
    // TODO: replace this with minified htmx served from our own app
    script(src="https://unpkg.com/htmx.org@1.8.0")


